Fsharp/src/App/bin
Fsharp/src/App/obj
Fsharp/src/Library/bin
Fsharp/src/Library/obj
NativeLambda/HelloCsharp/.serverless
NativeLambda/HelloCsharp/bin
NativeLambda/HelloCsharp/obj
NativeLambda/HelloFsharp/.serverless
NativeLambda/HelloFsharp/bin
NativeLambda/HelloFsharp/obj
TestGiraffe/src/TestGiraffe/.serverless
TestGiraffe/src/TestGiraffe/bin
TestGiraffe/src/TestGiraffe/obj
Haskell/simple/.stack-work
